*.o
fpvm.so
test_fpvm
build/
build-sweep/
miniaero*
setupmesh.0
.config
include/fpvm/config.h
config.mk
.vscode
gc.log

/e9patch

/.cache
/bench/

__pycache__

test/boost
test/boost.tar.gz

profiler/e9patch
profiler/pin-tool

mem_patches.csv
patched_magic
patched_trap


# Static analysis temporary data
*-storage-simp*
*-storage-sim*
*-storage-pages*
*-storage-page*
*-storage-nodes*
*-storage-keys*
*-storage-page-keys*
*-storage-callstacks*
*-storage-extern-keys*
analysis/src/*_*_patches.csv
analysis/src/sources-*
analysis/src/a.out
analysis/e9patch

.ipynb_checkpoints

analysis/workspace
/include/fpvm/additional_wrappers.h
/src/additional_wrappers.S
/compile_commands.json
/sweep-results/
/sweep-results*/


# Noisy results from noisy benchmarks
three_body_simulation_t.txt
three_body_simulation_y.txt

test/fbench/fbench
test/ffbench/ffbench
test/three-body/three_body_simulation

# Kernel module rules:
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
Module.symvers
kernel/fpvm-kmod/*.mod
/kernel/signal-latency/exception_to_kmod_handler
/kernel/signal-latency/exception_to_signal_handler
/kernel/signal-latency/hw_to_kernel
/test/nas/output/
